# pandas

In [ ]:
-Series
-form of sequential one-dimentional array
-all the elements one data type
-can be created from lists,tuples and array

In [3]:
import numpy as np
import pandas as pd

In [2]:
pd.Series(["M","F","M","M","F"])

0    M
1    F
2    M
3    M
4    F
dtype: object

In [4]:
gen=pd.Series(np.array(["M","F","M","M","F"]))
type(gen)

pandas.core.series.Series

In [5]:
dic={"a":1,"b":2,"c":3,4:15}
dic_1=pd.Series(dic)

In [6]:
type(dic)

dict

In [8]:
type(dic_1)

pandas.core.series.Series

In [9]:
dic_1.index

Index(['a', 'b', 'c', 4], dtype='object')

In [10]:
dic_1.values

array([ 1,  2,  3, 15], dtype=int64)

In [21]:
list_1=[2023,26,"latha",100,True]
Ser=pd.Series(list_1)
Ser
Ser.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
-DataFrames
--two dimentional data structure that can be store various types of data

In [27]:
import numpy as np
import pandas as pd

In [28]:
ser1=pd.Series([0,1,2],index=["cricket","football","baseball"])

In [29]:
ser2=pd.Series([11,12,13],index=["cricket","football","basketball"])

In [30]:
ser1

cricket     0
football    1
baseball    2
dtype: int64

In [31]:
ser2

cricket       11
football      12
basketball    13
dtype: int64

In [32]:
ser1+ser2

baseball       NaN
basketball     NaN
cricket       11.0
football      13.0
dtype: float64

In [33]:
ser1.sum()

3

In [34]:
ser2.sum()

36

In [37]:
ser1.mean()

1.0

In [36]:
ser2.median()

12.0

In [38]:
ser2.mean()

12.0

In [39]:
ser1.median()

1.0

In [40]:
ser1.min()

0

In [42]:
ser2.min()

11

In [43]:
ser1.max()

2

In [44]:
ser2.max()

13

In [45]:
ser1.var()

1.0

In [46]:
ser2.var()

1.0

In [47]:
ser1.describe()

count    3.0
mean     1.0
std      1.0
min      0.0
25%      0.5
50%      1.0
75%      1.5
max      2.0
dtype: float64

In [48]:
ser2.describe()

count     3.0
mean     12.0
std       1.0
min      11.0
25%      11.5
50%      12.0
75%      12.5
max      13.0
dtype: float64

In [1]:
import pandas as pd

In [2]:
employee={'number':[1,2,3,4,5],'name':["abby","john","lina","marc","bob"],'hourly salary':[15,25,36,34,56]}

In [3]:
print(employee)

{'number': [1, 2, 3, 4, 5], 'name': ['abby', 'john', 'lina', 'marc', 'bob'], 'hourly salary': [15, 25, 36, 34, 56]}

In [5]:
import pandas as pd
employee={'number':[1,2,3,4,5],'name':["abby","john","lina","marc","bob"],'hourly salary':[15,25,36,34,56]}
table1=pd.DataFrame(employee)
print(table1)

   number  name  hourly salary
0       1  abby             15
1       2  john             25
2       3  lina             36
3       4  marc             34
4       5   bob             56

### slicing

In [6]:
print(table1.head(1))

   number  name  hourly salary
0       1  abby             15

In [7]:
print(table1.head(3))

   number  name  hourly salary
0       1  abby             15
1       2  john             25
2       3  lina             36

In [9]:
print(table1.tail(1))

   number name  hourly salary
4       5  bob             56

In [10]:
print(table1.tail(3))

   number  name  hourly salary
2       3  lina             36
3       4  marc             34
4       5   bob             56

### merge dataframes(same data only prints)

In [12]:
import pandas as pd
food1={"number":[1,2,3,4,5],"name":["apple","banana","chips","popcorn","pizza"],"price":[2,3,4,8,6]}
food2={"number":[1,2,3,4,5],"name":["apple","banana","chips","popcorn","pizza"],"price":[2,3,4,8,6]}
table1=pd.DataFrame(food1)
table2=pd.DataFrame(food2)
fusion=pd.merge(table1,table2)
print(fusion)

   number     name  price
0       1    apple      2
1       2   banana      3
2       3    chips      4
3       4  popcorn      8
4       5    pizza      6

In [14]:
import pandas as pd
food1={"number":[1,2,3,4,5],"name":["apple","banana","chips","popcorn","pizza"],"price":[2,3,4,8,6]}
food2={"number":[1,2,3,4,5],"name":["corn","beans","chips","popcorn","pizza"],"price":[8,6,8,4,6]}
table1=pd.DataFrame(food1)
table2=pd.DataFrame(food2)
fusion=pd.merge(table1,table2,on="price")
print(fusion)

   number_x   name_x  price  number_y   name_y
0         3    chips      4         4  popcorn
1         4  popcorn      8         1     corn
2         4  popcorn      8         3    chips
3         5    pizza      6         2    beans
4         5    pizza      6         5    pizza

### joining two databases

In [15]:
import pandas as pd

In [17]:
food1={"number":[1,2,3,4,5],"name":["popcorn","pizza","chips","banana","apple"],"price":[2,6,5,7,4]}
food2={"colors":["red","blue","yellow","green","orange"],"weight":[100,250,300,180,290],"quantity":[1,2,1,3,4]}
table1=pd.DataFrame(food1)
table2=pd.DataFrame(food2)
fusion=table1.join(table2)
print(fusion)

   number     name  price  colors  weight  quantity
0       1  popcorn      2     red     100         1
1       2    pizza      6    blue     250         2
2       3    chips      5  yellow     300         1
3       4   banana      7   green     180         3
4       5    apple      4  orange     290         4